<h1>Hello {{ your_name }}, how are you?</h1>
<h1>Ahoj {{ jmeno }}, jak se mas?</h1>

<h1>Hello {% if your_name %}{{ your_name }}{% else %}Unknown{% endif %}, how are you?</h1>
<h1>Ahoj {% if jmeno %}{{ jmeno }}{% else %}Neznamy{% endif %}, jak se mas?</h1>

<ul>
{% for pet in pets %}
<li>{{ pet }}</li>
{% endfor %}
</ul>

<ul>
{% for country, city in capitals.items() %}
<li>{{ country | upper }}: {{ city | capitalize }}</li>
{% endfor %}
</ul>

<table border="1">
{% for row in matrix %}
  <tr>
  {% for col in row %}
    <td><h1>{{ col }}</h1></td>
  {%endfor%}
  </tr>
{% endfor %}
</table>

<pre><code>
{{ pets | to_nice_json }}
</code></pre>

---

<pre><code>
{{ capitals | to_nice_json }}
</code></pre>

---

<pre><code>
{{ matrix | to_nice_json }}
</code></pre>
