---
- name: Setup Web Server
  gather_facts: false
  hosts: all
  vars:
    # Password is: asdfasdf
    # Created by: ansible-vault encrypt_string 'super secret key'
    secret: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65346631333964623064333035616162363962653864356139633466393566626230613861343238
      3534363930626162363632346132666566333465383266650a313435363933626662396237396536
      61323162356161393263376636313466396663623133663463623833633363396363633763663636
      3431353639623763620a363231306537353431623162316164613136303033363764633637656631
      32653562343265373861336632393137646535383466393761343266613363363936
  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        update_cache: yes
        state: present
    - name: Copy index.html from template
      template:
        src: index-secret.html.j2
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: 0644
